---
layout: nil
---
<!doctype html>  
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  
  <title>BeerCamp at SXSW 2011</title>
  
  <meta name="description" content="" />
  <meta name="author" content="nclud" />
  
  <link rel="stylesheet" href="css/style.css?v1" />
  
  <script src="js/modernizr.js"></script>

</head>
<body>

<div id="wrap">

  <div id="offset"></div> <!-- #offset -->
  
  <div id="container">
    
    <section id="grid">
      <div class="horizontal">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class="vertical">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class="mask"></div>
    </section> <!-- #grid -->
    
    
    <ul class="nav">
      <li class="intro"><a href="#intro">Intro</a></li>
      <li class="featuring"><a href="#featuring">Featuring</a></li>
      <li class="sponsorz"><a href="#sponsorz">Sponsors</a></li>
      <li class="flip-cup"><a href="#flip-cup">Flip Cup</a></li>
      <li class="sign-up"><a href="#sign-up">Team Sign Up</a></li>
      <li class="teams"><a href="#team">Teams</a></li>
    </ul>
    
    <div id="environment">

      <div id="content">

        <section id="intro">

          <h1>BeerCamp</h1>
          <h2>at SXSW 2011</h2>

          <div class="date">
            <time class="day-of-week">Monday</time> 
            <time class="day">March <i>14</i></time> 
            <time class="year">Twenty Eleven</time> 
            <time class="time">Starting at 7:30 PM</time>
          </div>

          <div class="location"> 
            <a href="http://maps.google.com/maps?q=Emo%27s+Austin+TX&ie=UTF8&hq=Emo%27s&hnear=Austin,+TX&z=16&iwloc=A"> 
              <h3>Emo&rsquo;s</h3> 
              <p class="street">603 Red River St.</p> 
              <p class="city">Austin, TX</p>
            </a> 
          </div>

          <p class="blurb">A party of rational proportions</p>

        </section> <!-- #intro -->

        <section id="featuring">

          <h1>Featuring</h1>

          <div class="feature beverages">
            <h2>Beer</h2>
            <p>
              <span class="provided">provided by</span>
              <strong>
                <span class="victory">Victory</span>
                <span class="brewing">Brewing</span>
                <span class="company">Company</span>
              </strong>
            </p>
          </div>

          <div class="feature music">
            <h2>Music</h2>
            <p>
              <span class="provided">provided by</span>
              <strong>
                <span class="">Awesome</span>
                <span class="">Music</span>
                <span class="">Act</span>
              </strong>
            </p>
          </div>

          <p class="blurb">Join us for a night of exceptional beverages, hot jamz, and fierce competition. Together, we shall raise our pint glasses and plastic cups in revelry to celebrate a great year in web&nbsp;design.</p>

          <div class="links">
            <p class="twitter">
              <a href="http://twitter.com/nclud">
                Follow @nclud
                for updates
              </a>
            </p>

            <p class="rsvp">
              <a href="#">
                Save event on SitBy.Us
              </a>
            </p>

          </div>

        </section> <!-- #featuring -->

        <section id="sponsorz">

          <h1>Sponsored By:</h1>

          <ul class="sponsor-list">
            <li class="n1"></li>
            <li class="n2"></li>
            <li class="n3"></li>
            <li class="n4"></li>
            <li class="n5"></li>
            <li class="n6"></li>
            <li class="n7"></li>
          </ul>

          <p class="fontfabric"><a href="http://fontfabric.com/">Fonts by <b>Fontfabric</b></a></p>

          <p class="blurb">
            Help make BeerCamp happen. <strong>Become a sponsor!</strong> Email us at <a href="mailto:events@nclud.com">events@nclud.com</a>
          </p>
        </section> <!-- #sponsorz -->

        <section id="flip-cup">

          <h1>Flip Cup <span class="tournament"><span class="tourn">Tourn</span><span class="ament">ament</span></span></h1>
          
          <div class="copy">
            <h3>Get ready for battle.</h3>
            <p>This year, the BeerCamp competition will take form in a flip cup tournament.</p>
            <p>To compete, you'll need to make a team of five champions (no more, no less).</p>
          </div>
          
          
          <h2 class="rules-title">Rules</h2>
          
          <div class="rules">
            <ul>
              <li>Tournament will consist of 32 teams, single elimination.</li>
              <li>Matches are best-of-3 games. First team to win 2 games wins the match.</li>
              <li>Teams consist of five players. All teams must sign up with five players.</li>
              <li>Players cups are to be filled with about 2 fluid ounces of a beverage. This liquid may be beer, water, soda, energy drink, etc.</li>
              <li>Playing surface should be relatively clear of obstructions and objects. No &lsquo;backstops&rsquo; may be used.</li>
              <li>In the event that only 4 team players are present for a match, one player may flip twice.</li>
              <li>Teams with less than 4 players present must forfeit the match.</li>
              <li>Sportsmanship is a virtue. Please don't be a jerk.</li>
            </ul>
          </div>

          <div class="arrow">
            <a href="#sign-up"><span class="team">Team</span> <span class="sign-up">sign up</span></a>
          </div>
          
          
        </section> <!-- #flip-cup -->

        <section id="sign-up">

          <div id="sign-up-form">
            <script>
              var host = (("https:" == document.location.protocol) ? "https://secure." : "http://");document.write(unescape("%3Cscript src='" + host + "wufoo.com/scripts/embed/form.js' type='text/javascript'%3E%3C/script%3E"));
            </script>
            <script>
              var q7x3p3 = new WufooForm();
              q7x3p3.initialize({
              'userName':'daveatnclud', 
              'formHash':'q7x3p3', 
              'autoResize':true,
              'height':'800'});
              q7x3p3.display();
            </script>
          </div> 
          
        </section> <!-- #sign-up -->
        
        <section id="teams">

          <h1><span class="tournament"><span class="tourn">Tourn</span><span class="ament">ament</span></span> <span class="teams-title">Teams</span></h1>

          <ul class="team-list">
          {% for team in site.teams %}
            <li class="team {% cycle 'team-a', 'team-b' %}">
              <h2>{{ team.name }}</h2>
              <ul class="player-list">
                {% for player in team.players %}
                <li class="player">
                  <b>{{ player.name }}</b>
                  {% if player.twitter %}
                    <a href="http://twitter.com/{{ player.twitter }}">@{{ player.twitter }}</a>
                  {% endif %}
                </li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
          </ul>
          
        </section> <!-- #teams -->
        
        <section id="limbo">
          
        </section> <!-- #limbo -->
        
      </div> <!-- #content -->


      
    </div> <!-- #environment -->
    
  </div> <!-- #container -->
  

</div> <!-- #wrap -->

<div id="scroll-proxy"></div>


  

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js"></script>
<script>!window.jQuery && document.write(unescape('%3Cscript src="js/jquery-1.4.4.min.js"%3E%3C/script%3E'))</script>
<script src="js/scripts.js"></script>
  
  
  
</body>
</html>