---
layout: nil
css_version: '15'
script_version: '07'
---
<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- 
  
  888888b.   8888888888 8888888888 8888888b.   .d8888b.        d8888 888b     d888 8888888b.  
  888  "88b  888        888        888   Y88b d88P  Y88b      d88888 8888b   d8888 888   Y88b 
  888  .88P  888        888        888    888 888    888     d88P888 88888b.d88888 888    888 
  8888888K.  8888888    8888888    888   d88P 888           d88P 888 888Y88888P888 888   d88P 
  888  "Y88b 888        888        8888888P"  888          d88P  888 888 Y888P 888 8888888P"  
  888    888 888        888        888 T88b   888    888  d88P   888 888  Y8P  888 888        
  888   d88P 888        888        888  T88b  Y88b  d88P d8888888888 888   "   888 888        
  8888888P"  8888888888 8888888888 888   T88b  "Y8888P" d88P     888 888       888 888
  
  
     ###    ########     ######  ##     ##  ######  ##      ##     #######    #####     ###     ###   
   ##   ##     ##       ##.....    ## ##   ##.....  ##  ##  ##      .....## ##     ##    ##      ##   
  #########    ##         ````##   ## ##     ````## ##  ##  ##    ##`````   ##     ##    ##      ##   
  ##     ##    ##        ######  ##     ##  ######   ###  ###     #########   #####    ######  ######
  
  by nclud
  
  -->

  <meta name = "viewport" content = "width = 1000">

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  
  <title>BeerCamp at SXSW 2011</title>
  
  <meta name="description" content="An awesome party for web folk and classy people. Sunday, March 13 2011, starting at 8:00, at Emo's 603 Red River St. Austin, TX" />
  <meta name="author" content="nclud" />
  
  <link rel="stylesheet" href="css/style.css?v{{ page.css_version }}" />
  
  <script src="js/modernizr.js"></script>

</head>
<body>

<div id="wrap">

  <div id="offset"></div> <!-- #offset -->
  
  <div id="container">
    
    <ul id="nav">
      <li class="intro"><a href="#intro" class="page-nav">Intro</a></li>
      <li class="featuring"><a href="#featuring" class="page-nav">Featuring</a></li>
      <li class="sponsorz"><a href="#sponsorz" class="page-nav">Sponsors</a></li>
      <li class="flip-cup"><a href="#flip-cup" class="page-nav">Flip Cup</a></li>
      <li class="teams"><a href="#teams" class="page-nav">Teams</a></li>
    </ul>
    
    <div id="environment">

      <div id="content">

        <section id="intro">

          <h1>BeerCamp</h1>
          <h2>at SXSW 2011</h2>

          <time datetime="2011-03-13">
            <span class="day-of-week">Sunday</span> 
            <span class="day">March <i>13</i></span> 
            <span class="year">Twenty Eleven</span> 
            <span class="time">Starting at 8:00 PM</span>
          </time>

          <div class="location"> 
            <a href="http://maps.google.com/maps?q=Emo%27s+Austin+TX&ie=UTF8&hq=Emo%27s&hnear=Austin,+TX&z=16&iwloc=A"> 
              <h3>Emo&rsquo;s</h3> 
              <p class="street">603 Red River St.</p> 
              <p class="city">Austin, TX</p>
            </a> 
          </div>

          <p class="blurb">A party of rational proportions</p>
          
          
          <div id="credit"><a href="http://nclud.com">an nclud creation</a></div>

        </section> <!-- #intro -->

        <section id="featuring">

          <h1>Featuring</h1>

          <div class="feature beverages">
            <h2>Beer</h2>
            <p>
              <span class="provided">provided by</span>
              <strong>
                <span class="victory">Victory</span>
                <span class="brewing">Brewing</span>
                <span class="company">Company</span>
              </strong>
            </p>
          </div>

          <div class="feature music">
            <h2>Music</h2>
            <p>
              <span class="provided">the sounds of</span>
              <strong class="team-genius">
                <span class="artist">Team Genius</span>
                <span class="link"><a href="http://teamgeniusmusic.com/">teamgeniusmusic.com</a></span>
              </strong>
              <strong class="shells">
                <span class="artist">Shells</span>
                <span class="link"><a href="http://shellsmusic.com/">shellsmusic.com</a></span>
              </strong>
              <strong class="richard-gear">
                <span class="artist">DJ Richard Gear</span>
                <span class="link"><a href="http://richardgear.bandcamp.com/">richardgear.bandcamp.com</a></span>
              </strong>
            </p>
          </div>
            
          <div class="blurb">
            <p>Join us for a night of exceptional beverages, hot jamz, and fierce competition. Together, we shall raise our pint glasses and plastic cups in revelry to celebrate a great year in web&nbsp;design.</p>
            <p class="badge">SXSWi badge required</p>
          </div>

          <div class="links">
            Follow <a href="http://twitter.com/nclud">@nclud</a> for updates.
            Declare your attendance on <a href="http://www.sitby.us/event/OE00327/">SitBy.Us</a> or <a href="http://plancast.com/p/3r19">Plancast</a>
          </div>

        </section> <!-- #featuring -->

        <section id="sponsorz">

          <h1>Sponsored By:</h1>

          <ul class="spnsr-list">
            <li class="n1"><a class="victory ir" href="http://victorybeer.com/" title="Victory Brewing Company" >Victory Brewing Company</a></li>
            <li class="n2"><a class="pruf ir" href="http://www.mypruf.com/" title="PR&rsquo;UF">PR&rsquo;UF</a></li>
            <li class="n3"><a class="browser-media ir" href="http://www.browsermedia.com/" title="BrowserMedia">BrowserMedia</a></li>
            <li class="n4"><a class="nclud ir" href="http://nclud.com/" title="nclud" >nclud</a></li>
            <li class="n5"><a class="hanerino ir" href="http://hanerino.com/" title="Hanerino">Hanerino</a></li>
            <li class="n6 argyle"><a class="argyle ir" href="http://39argyle.com" title="39Argyle">39Argyle</a></li>
            <li class="n7 open">Sponsorship available</li>
          </ul>

          <p class="fontfabric"><a href="http://fontfabric.com/">Fonts by <b>Fontfabric</b></a></p>

          <p class="blurb">
            Help make BeerCamp happen. <strong>Become a sponsor!</strong> Email us at <a href="mailto:events@nclud.com">events@nclud.com</a>
          </p>
        </section> <!-- #sponsorz -->

        <section id="flip-cup">

          <h1>Flip Cup <span class="tournament"><span class="tourn">Tourn</span><span class="ament">ament</span></span></h1>
          
          <div class="copy">
            <h3>Get ready for battle.</h3>
            <p>This year, the BeerCamp competition will take form in a flip cup tournament.</p>
            <p>Team registration is now complete.</p>
            <p>Each member of the winning team will walk away with a Flip HD Video Camera.</p>
          </div>
          
          
          <h2 class="rules-title">Rules</h2>
          
          <div class="rules">
            <ul>
              <li>Tournament will consist of 32 teams, single elimination.</li>
              <li>Matches are best-of-3 games. First team to win 2 games wins the match.</li>
              <li>Teams consist of five players. All teams must sign up with five players.</li>
              <li>Players cups are to be filled with about 2 fluid ounces of a beverage. This liquid may be beer, water, soda, energy drink, etc.</li>
              <li>Playing surface should be relatively clear of obstructions and objects. No &lsquo;backstops&rsquo; may be used.</li>
              <li>In the event that only 4 team players are present for a match, one player may flip twice.</li>
              <li>Teams with less than 4 players present must forfeit the match.</li>
              <li>Sportsmanship is a virtue. Please don't be a jerk.</li>
            </ul>
          </div>

          <div class="arrow">
            <a id="start-sign-up" href="#teams" class="page-nav"><span class="team">View</span> <span class="sign-up">teams</span></a>
          </div>
          
          
        </section> <!-- #flip-cup -->

        <section id="teams">

          <h1><span class="tournament"><span class="tourn">Tourn</span><span class="ament">ament</span></span> <span class="teams-title">Teams</span></h1>

          <ul class="team-list">
          {% for team in site.teams %}
            <li class="team {% cycle 'team-a', 'team-b' %}">
              <h2>{{ team.name }}</h2>
              <ul class="player-list">
                {% for player in team.players %}
                <li class="player">
                  {{ player.name }}
                  {% if player.twitter %}
                    <a href="http://twitter.com/{{ player.twitter }}">@{{ player.twitter }}</a>
                  {% endif %}
                </li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
          </ul>
          
        </section> <!-- #teams -->
        
        <section id="limbo">
          <a href="#intro" id="totem" class="page-nav"><img src="img/totem01.gif" alt="" /></a>
        </section> <!-- #limbo -->
        
      </div> <!-- #content -->

    </div> <!-- #environment -->
    
  </div> <!-- #container -->
  

</div> <!-- #wrap -->

<div id="scroll-proxy"></div>

<audio preload="auto">
  <source src="audio/inception.mp3" type="audio/mp3" />
  <source src="audio/inception.ogg" type="audio/ogg" />
</audio>
  

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js"></script>
<script>!window.jQuery && document.write(unescape('%3Cscript src="js/jquery-1.4.4.min.js"%3E%3C/script%3E'))</script>
<script src="js/scripts.js?v{{ page.script_version }}"></script>

<script>
  var _gaq=[['_setAccount','UA-6925512-7'],['_setDomainName', 'beercamp.com'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
  
  
</body>
</html>